PORT=3000
SPORTMONKS_TOKEN=your_sportmonks_api_token_here
SPORTMONKS_BASE_URL=https://api.sportmonks.com/v3/football
PORT=3000
SPORTMONKS_TOKEN=hyL7luHJvhtWCcR3mmP35oCgYp3MhDaITjF57X8A3AWnk9J9NUyXLqiI6O7i
SPORTMONKS_BASE_URL=https://api.sportmonks.com/v3
PREDICTIONS_TTL_SECONDS=43200
ODDS_TTL_SECONDS=300
FIXTURE_CORE_TTL_SECONDS=900
